html {
	width: 100%;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	width: 100%;
	overflow-x: hidden;
	position: relative;
	font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.emphasis {
	font-style: italic;
	font-size: 1.5rem;
}

.main {
	padding: 4rem;
	width: 100%;
	height: 100vh;
	height: 100svh;
}

#join-form {
	width: 90%;
	max-width: 50rem;
	margin: 4rem auto;
	display: flex;
	flex-direction: column;
	/* gap: 2rem; */
}

.heading {
	font-size: 2.5rem;
	margin-bottom: 6rem;
	text-align: center;
}

.invite__link--input {
	height: 4rem;
	background-color: transparent;
	border: 2px solid hsl(200, 93%, 50%);
	padding: 1rem;
	border-radius: 0.5rem;
	margin-block: 1rem;
}

.btn__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	gap: 2rem;
	width: 100%;
}

.btn {
	display: inline-block;
	margin-top: 3rem;
	background-color: hsl(200, 93%, 50%);
	color: hsl(0, 0%, 98%);
	border: 2px solid hsl(200, 93%, 50%);
	border-radius: 0.5rem;
	padding: 0.5rem 2rem;
	text-transform: capitalize;
	font-size: 1.8rem;
}

.btn-secondary {
	background-color: transparent;
	color: hsl(200, 93%, 50%);
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: hsl(202, 21%, 10%);
		color: hsl(200, 33%, 98%);
	}

	.invite__link--input {
		color: hsl(0, 0%, 98%);
	}
}
