html {
	width: 100%;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	width: 100%;
	overflow-x: hidden;
	position: relative;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* video frame wrapper */
.video__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
	justify-content: center;
	align-items: center;
	gap: 4rem;
	margin: 4rem auto 0;
	padding: 2rem;
	width: 100%;
}

/* individual video frame */
.video {
	width: 100%;
	aspect-ratio: 1;
	object-fit: fill;
	border-radius: 1rem;
	background-color: #ccc;
}

/* chat host */
.host {
	border: 4px solid hsl(200, 50%, 50%);
}

/* video controls container */
.controls {
	/* background-color: bisque; */
	width: 100%;
	/* height: 6rem; */
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	position: fixed;
	bottom: 4rem;
	left: 50%;
	transform: translateX(-50%);
}

/* video controls wrapper */
.control__container {
	background-color: hsl(200, 93%, 55%);
	padding: 1.5rem;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all ease-in-out 0.2s;
}

.control__container:hover {
	background-color: hsl(200, 93%, 45%);
}

.icon {
	width: 3rem;
	aspect-ratio: 1;
	object-fit: contain;
}

.control__container.danger-color {
	background-color: hsl(2, 98%, 57%);
}

.danger-color > .icon {
	filter: invert(90%);
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: hsl(202, 21%, 10%);
		color: hsl(200, 33%, 98%);
	}
}
